<h2>Register Here:</h2>

<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <label for="firstName">First Name:</label>
        <br>
        <input type="text" class="inputField" name="firstName" formControlName="firstName">
        <br>
        <br>

        <label for="lastName">Last Name:</label>
        <br>
        <input type="text" class="inputField" name="lastName" formControlName="lastName">
        <br>
        <br>

        <label for="email">Email:<Address></Address></label>
        <input type="text" class="inputField" name="email" formControlName="email">
        <br>
        <br>

        <label for="password">Password:</label>
        <br>
        <input type="password" class="inputField" name="password" formControlName="password" appPasswordInput>
        <br>
        <br>

        <label for="confirmPassword">Confirm Password:</label>
        <br>
        <input type="password" class="inputField" name="confirmPassword" formControlName="confirmPassword" appPasswordInput>
        <div *ngIf="this.passwordMismatch">Passwords must match!</div>
        <br>
        <br>
        
        <button type="submit" [disabled]="!registerForm.valid">Submit</button>
    </form>
    <div *ngIf="this.accountTaken">This email address is already being used!</div>
    <p>Already have an account?</p>
    <a routerLink="/login">Login</a> 

</div>